/* *{
    margin: 0;
    padding: 0;
} */
.create {
   
    position: relative;
    width: 100vw;
    height: 303px; 
    margin-top: 160px;
}

.create .createimg {
 position: absolute;  
     top: -52px; 
   
    width: 544px;
}

.create .createbox {
 
    
    
    width: 100vw;
    height: 252px; 
    background-color: #10107B;
    padding-top: 35px;
}

.create .createbox .createEvent {
    width: 417px;
    margin-left: 696px;
    height: 182px;

}

.create .createbox .createEvent p {
    color: #F8F8FA;
    font-weight: 400;
    size: 18px;
    line-height: 21px;


}

.create .createbox .createEvent button {
    margin-top: 30px;
    width: 302px;
    height: 60px;
    font-weight: 700;
    font-size: 18px;
    color: #F8F8FA;
    background-color:#7848F4;
    /* top: 2168px; */
    left: 696px;
    gap: 0px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    outline: none;
    border: none;

}