.create {
    position: relative;
    height: 303px; 
    margin-top: 160px;
    
}

.create .createbox .createimg {
    img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        bottom: 20px;
    }
}

.create .createbox {    
    /* width: 100vw; */
    /* height: 217px;  */
    height: 85%;
    background-color: #10107B;
    /* padding: 20px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.create .createbox .createEvent {
    height: 182px;
}

.create .createbox .createEvent p {
    color: #F8F8FA;
    font-weight: 400;
    size: 18px;
    line-height: 21px;


}

.create .createbox .createEvent button {
    margin-top: 30px;
    width: 302px;
    height: 60px;
    font-weight: 700;
    font-size: 18px;
    color: #F8F8FA;
    background-color:#7848F4;
    /* top: 2168px; */
    left: 696px;
    gap: 0px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    outline: none;
    border: none;

}