body{
    background: #f3f3f3;
}
.signupcontainer{
    display: flex;
    gap: 20px;
    
}
.signupcontainer .leftbox{
    background-image: url(../../assets/signup/signupimg.svg);
    width: 600px;
    height: 900px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    object-fit: cover;
    border-radius: 3px;
    align-items: center;
}
.signupcontainer .leftbox h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 48.52px;
text-align: center;
color: #FFFFFF;


    
}
.signupcontainer .leftbox p{
   
font-size: 16px;
font-weight: 400;
line-height: 19.41px;
text-align: center;
color: #FFFFFF;

}
.signupcontainer .leftbox .signupbtn{
    width: Fixed (128px)px;
height: Fixed (49px)px;
top: 498px;
left: 233.5px;
padding: 15px 40px 15px 40px;
gap: 10px;
border-radius: 5px ;
border: none;


font-size: 16px;
font-weight: 400;
line-height: 19.41px;
text-align: center;
color: #FFFFFF;
background-color: rgba(0, 128,255,0.2);
cursor: pointer;


}
.signupcontainer .rightbox{
    padding-top:200px;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.signupcontainer .rightbox h3{
   
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29.11px;
text-align: center;

}
.signupcontainer .rightbox h3 span{
    color: #7848F4;

}
.signupcontainer .rightbox h1{
   
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 43.67px;
text-align: center;

}
.signupcontainer .rightbox .signupinfo form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.signupcontainer .rightbox .signupinfo form div{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.signupcontainer .rightbox .signupinfo form label{
    
font-size: 16px;
font-weight: 400;
line-height: 19.41px;
text-align: left;

}
.signupcontainer .rightbox .signupinfo form input:not([type="checkbox"]){
    width: 578px;
    height: 46px;
    padding: 10px 0px 10px 8px;
    gap: 10px;
    border-radius: 5px ;
    border: none;


    font-size: 12px;
    font-weight: 400;
    line-height: 14.56px;
    text-align: left;


}
.rightbox .googleupbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.rightbox .googleupbtn .simpsignup{
    width: 257px;
height:  40px;
top: 629px;
left: 892px;
padding: 15px 30px px 40px;
gap: 10px;
border-radius: 5px ;
border: none;

background: #7848F4;


font-size: 16px;
font-weight: 400;
line-height: 19.41px;
text-align: center;
color: #FFFFFF;
cursor: pointer;


}
.rightbox .googleupbtn .googlebtn{
    width: 371px;
height: 46px;
top: 758px;
left: 835px;
padding: 19px 52px 19px 52px;
gap: 10px;
border-radius: 5px;
border:none;
opacity: 0px;
display: flex;
align-items: center;
justify-content: center;


background: #E0E0E9;

font-size: 16px;
font-weight: 400;
line-height: 19.41px;
text-align: left;

}
/* #checkbox{
    width: 26px;
} */
/* .checkbox{
    display: flex;
    flex-direction: row;
    margin-top: 30px;    
} */

#check{
    display: flex;
    flex-direction: row;
    gap: 10px;
}