.image{
    width: 90vw;
    margin: auto;
    margin-bottom: 40px;
    >img{
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.content{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    margin-bottom: 40px;
}

.events{
    width: 80vw;
    margin: auto;
    .cards{
        padding: 40px 0px;
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        .card{
            width: 31%;
        }
    }
}