.middle1box {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.middle1box .descriptionevent .descriptioneventin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    width: 40vw;
}

.middle1box .descriptionevent .descriptioneventin h3 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.11px;
    text-align: left;

}

.middle1box .descriptionevent .descriptioneventin p {

    font-size: 16px;
    font-weight: 400;
    line-height: 19.41px;
    text-align: left;

    color: #7E7E7E;



}

.middle1box .descriptionevent .descriptionhour {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.middle1box .descriptionevent .descriptionhour h3 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.11px;
    text-align: left;

}

.middle1box .descriptionevent .descriptionhour p {

    font-size: 16px;
    font-weight: 400;
    line-height: 19.41px;
    text-align: left;
    color: #7E7E7E;

}

.middle1box .descriptionevent .descriptionhour p span {

    font-size: 18px;
    font-weight: 700;
    line-height: 21.83px;
    text-align: left;
    color: #7848F4;

}

.middle1box .maploc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.middle1box .maploc h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.11px;
    text-align: left;

}
.middle1box .maploc .mapin h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.11px;
    text-align: left;


}
.middle1box .maploc .mapin p{
    
font-size: 16px;
font-weight: 400;
line-height: 19.41px;
text-align: left;
color: #7E7E7E;


}
.middle1box .maploc .mapin{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}