/* Container */
.pcontainer {
    /* width: 70vw; */
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  /* Heading */
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Tab Container */
  .tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    position: relative;
    gap: 50px;
  }
  
  /* Tabs */
  .tab {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    position: relative;
    outline: none;
    transition: color 0.3s ease;
  }
  
  .tab:hover {
    color: #007bff;
  }
  
  /* Active Tab */
  .active-tab {
    color: #007bff;
    position: relative;
  }
  
  .active-tab::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust for the underline's position */
    height: 3px;
    width: 100%;
    background-color: #007bff;
    border-radius: 2px;
    animation: slide-in 0.3s ease-in-out; /* Apply smooth animation */
  }
  
  /* Keyframes for underline animation */
  @keyframes slide-in {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .main{
    width: 80vw;
    margin: auto;
    display: flex;
    gap: 30px;
    /* justify-content: center; */
    align-items: center;
}
.poster-image{
    width: 200px;
    height: 200px;
    background-color: #333;
    border-radius: 20px;
}
.tabs-content{
  width: 100%;
}
  
.profile-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .bottom{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
}

.tabs-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}