 body{
  background-color: #f1f1f1;
 }

.upcoming-events {
    margin-top: 50px;
    width: 90vw;
    margin : auto;
  }

  .upcoming-events h1 {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
  }

  .upcoming-events h1 span{
    color: #7848F4;
  }

.upcoming-events .wordevent{
    color: blueviolet;
}
  
  .events-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* overflow: hidden; */
    gap: 20px;
    margin-top: 20px;
  }
  
  .load-more {
    top:10px;
    background-color: #7848F4;
    color: #F8F8FA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
  }
  .loadbutton{
    
    width: 100vw;
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }