body {
  background-color: #f1f1f1;
}

.upcoming-events {
  text-align: left;
  margin-top: 50px;
}

.upcoming-events h1 {
  margin-left: 50px;
  font-weight: 700;
  font-size: 36px;
  margin-top: 10vw;
}

.upcoming-events h1 span {
  color: #7848f4;
}

.filters {
  display: flex;
  gap: 10px;
  margin: 20px 50px;
}

.filters select {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.filters select:focus {
  outline: none;
  border-color: #7848f4;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.load-more {
  background-color: #7848f4;
  color: #f8f8fa;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loadbutton {
  width: 100%;
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 body{
  background-color: #f1f1f1;
 }

.upcoming-events {
    margin-top: 50px;
    width: 90vw;
    margin : auto;
  }

  .upcoming-events h1 {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
  }

  .upcoming-events h1 span{
    color: #7848F4;
  }

.upcoming-events .wordevent{
    color: blueviolet;
}
  
  .events-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* overflow: hidden; */
    gap: 20px;
    margin-top: 20px;
  }
  
  .load-more {
    top:10px;
    background-color: #7848F4;
    color: #F8F8FA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
  }
  .loadbutton{
    
    width: 100%;
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
