.EDcontainer{
    height: 85vh;
    width: 36vw;
    border-radius: 5px;
    background-color: #10107bc1;
    background-blend-mode: darken;
    /* opacity: 0.8; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 18px
    
    
} 
.ESPCdetails{
    /* margin-top: 25px; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    top: 5px;
    color: aliceblue;
}

.line{
    height: 2px;
    width: 100%;
    border-radius: 5px;
    background-color: #7848F4;
    animation: slide 0.5s ease-in-out;;
}
@keyframes slide {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
    
}
.cross img{
    height: 2vh;
    position: absolute;
     right: 15px;
    top: 12px; 
    
}
.detailbox{
     width: 86%;
    height: 40%;
    border: 2px solid aliceblue; 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    padding: 2.4% 2%;
    gap: 2%;

}
.detailbox .leftdetail{
    display: flex;
    flex-direction: column;
    gap: 3%;

}
/* .detailbox .leftdetail .datedetail{
    display: flex;
    flex-direction: column;

}
.detailbox .leftdetail .timedetail{
    display: flex;
    flex-direction: column;

} */
.detailbox .leftdetail .dtldetail{
    display: flex;
    flex-direction: column;
    gap: 3px;
    

}
.detailbox .leftdetail p{
    font-size:smaller;
    font-weight: 10;
}
.detailbox .rightdetail{
    display: flex;
    flex-direction: column;
    gap: 3%;

}
.detailbox .rightdetail .titledetail{
    display: flex;
    flex-direction: column;
    gap: 3px;

}
.detailbox .rightdetail .titledetail p{
    font-size:smaller;
    font-weight: 10;

}
.detailbox .rightdetail .detailimg{
    height: 20vh;
    width: 16vw;
    background-image: url('../src/assets/Booknow/bgimg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6px;
    /* margin-top: 4%;
    margin-right: 3%; */
    border: 1px solid aliceblue;
   
}
.confirmprice{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
    
}
.confirmprice .cregular{
    display: flex;
    flex-direction: row;
    gap: 120px;

}
.confirmprice .cregular .cleftregu{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.confirmprice .cregular .cleftregu h3{
    font-weight: 300;
    font-size: larger;
}
.confirmprice .cregular .cleftregu p{
    font-weight: 600;
    font-size:smaller;
}
.confirmprice .cregular .crightregu{
    display: flex;
    flex-direction: row;
    width: 8vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    gap: 6px;

}
.confirmprice .cvip{
    display: flex;
    flex-direction: row;
    gap: 120px;

}
.confirmprice .cvip .cleftvip{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.confirmprice .cvip .cleftvip h3{
    font-weight: 300;
    font-size: larger;
}
.confirmprice .cvip .cleftvip  p{
    font-weight: 600;
    font-size:smaller;
    
}
.confirmprice .cvip .crightvip{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 8vw;
    height: 6vh;
    
    
}
.confirmprice p{
    font-size: smaller;
    font-weight:10;
    
}
.sproceed{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.sproceed .total{
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.sproceed .total h2{
    color: aliceblue;
}

.sproceed .btndetail button{
    height: 34px;
    width: 130px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #7848F4;
    font-size: medium;
    border: 1px solid white;
    cursor: pointer;
}

/* Rotating loader */
.loader {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #fff; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}