.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    width:80vw;
    margin:auto;
}

.logo span {
    font-size: 22px;
    color: #7848F4;
}

.logo h1,
.logo span {
    font-size: 3vw;
}

.buttons {
    display: flex;
    gap: 10px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}


.buttons .login,
.sign-up {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
}
.buttons .login{
    background-color: white;
}
.buttons .sign-up {
    color: white;
    background-color: #7848F4;
    font-weight: bold;
}

.dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    width: 150px;
}

.dropdown-items{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.dropdown-items:hover{
    background-color: #d4d4d4;
}

a{
    text-decoration: none;
    color: black;
}