/* *{
    background-color: #f1f1f1;
} */

.firstbox{
  width: 90%;
}
    
    .event-card {
      width: 100%;
      max-height: 600px;
      background-color: #F8F8FA;
      display : flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .event-card img{
      width: 90%;
      max-height: 300px;
      border-radius: 5px;
      object-fit: cover;
    }
    
    
    .free-tag {
      background-color:#ffffff;
      color: #7848F4;
      padding: 5px 10px;
      top: 30px;
      left: 30px;
      position: absolute;
      border-radius: 5px;
    }
    
    
    
    .event-info {
      background-color: #F8F8FA;
      padding: 15px;
    }
    
    .event-info h3 {
      background-color: #F8F8FA;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-top: 0;
      font-weight: 400px;
      font-size: 17px;
      line-height: 20px;
    }
    .event-info p{
      color: #7848F4;
      background-color:#F8F8FA;
      font-weight: 400px;
      font-size: 13px;
      margin-top: 8px;
    }
    .event-info h6{
      color: #7E7E7E;
      font-weight: 400px;
      font-size: 12px;
      margin-top: 10px;
      
    }