.PEDcontainer{
    height: 85vh;
    width: 36vw;
    border-radius: 5px;
    background-color: #10107bc1;
    background-blend-mode: darken;
    /* opacity: 0.8; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 25px
    
    
} 
.ESPCdetails{
    /* margin-top: 25px; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    top: 5px;
    color: aliceblue;
}

.line{
    height: 2px;
    width: 100%;
    border-radius: 5px;
    background-color: #7848F4;
}
.cross img{
    height: 2vh;
    position: absolute;
     right: 15px;
    top: 12px; 
    
}
.UPIdetails{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
    
}
.UPIdetails label{
    color: aliceblue;
    font-weight: 400;
    font-size: large;
}
.UPIdetails input{
    /* width: 200%; */
    height: 30px;
    border-radius: 12px;
    border: none;
    font-size: medium;
    padding: 2px 12px;
}

.paymentmethod{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.paymentmethod h3{
    color: aliceblue;
}
.paymentmethod .options{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.paymentmethod .options .cdcard{
    display: flex;
    flex-direction: row;
    gap: 120px;
    width: 100%;
    justify-content: space-between;
}
.paymentmethod .options .cdcard .cdleft{
     display: flex;
    /* flex-direction: row; */ 
    gap: 6px;
    color: aliceblue;

}
.paymentmethod .options .cdcard .cdleft input[type=radio]{
    width: 25px;
    height: 25px;
}
.paymentmethod .options .cdcard .cdleft label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paymentmethod .options .cdcard .cdright{
    display: flex;

}

.pproceed button{
    height: 34px;
    width: 130px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #7848F4;
    font-size: medium;
    border: 1px solid white;
    cursor: pointer;
}

.visa{
    background-color: white;
    padding: 5px;
    height: 25px;
}